.button1 {
    padding: 7.5px 15px;
    background: #fee000;
    border: 1px #fee000 solid;
    border-radius: 50em;
    color: #000;
}
.button2 {
    padding: 7.5px 15px;
    border: 1px #fee000 solid;
    border-radius: 50em;
    background: transparent;
    color: #fff;
}

.button1:hover {
    background: #fee000;
    color: #000;
    transition: .5s;
}